* {
	margin: 0;
	padding: 0;
	}
body {
	margin: 50px;
	text-align: center;
	font-size: 14px;
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	}
#plot {
	margin: auto;
	background: #eee;
	}
#details {
	margin-top: 25px;
	text-align: left;
	}